:root{
    --primary-color :#EE4D2D;
   
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
}
*{
    box-sizing: inherit;
}
html{
    font-size:100%;
    line-height:16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* Reponsive */
.grid{
    width:1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display:flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2{
    padding-left: 5px;
    padding-right:5px;
    width: 16.6667%;
}
.grid__column-2-3{
    padding-left: 5px;
    padding-right:5px;
    width: 25%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right:5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right:5px;
    width: 83.3334%;
}   


        /* Animation */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform:scale(var(--growth-from));
    }
    to{
        transform:scale(var(--growth-to));
    }
}

/* button style */
.btn{
    min-width: 124px;
    height:34px;
    text-decoration: none;
    border:none;
    border-radius:2px;
    font-size:15px;
    padding:0;
    cursor: pointer;
    color:var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
.btn.btn__normal:hover{
    background-color:rgba(0, 0, 0, 0.08);
}
.btn.btn--size-s{
    height:32px;
    font-size:12px;
    padding :0 8px;
    
}
.btn.btn--primary{
    background-color:var(--primary-color);
    color: var(--white-color);
}
/* Selection */
.select-input{
    height:34px;
    padding:0 12px;
    border-radius: 2px;
    min-width: 200px;
    background-color: var(--white-color);
    display:flex;
    justify-content:space-between;
    align-items:center;
    position: relative;    
}
.select-input:hover 
.select-input__list{
    display:block;
}
.select-input__label{
    font-size:14px;
}
.select-input__icon{
    font-size:14px;
    color:rgb(131, 131, 131);
    position: relative;
    top:1px;
}  
.select-input__list{
    position:absolute;
    left:0;
    top:20px;
    border-radius: 2px;
    background-color:var(--white-color);
    padding: 8px 16px;
    list-style: none;
    width:100%;
    display:none;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.select-input__list::before{
    content:"";
    position:absolute;
    top:-5px;
    width:100%;
    height: 10px;
    left:0px;
}
.select-input__link{
    text-decoration: none;
    font-size:14px;
    color:var(--text-color);
    display:block;
    padding: 4px 0;
}
.select-input__link:hover{
    color:var(--primary-color);
}


/* pagination */

.pagination{
    display:flex;
    list-style: none;
    justify-content:center;
    align-items:center;
}
.pagination-item{
    margin:0 12px;
}
.pagination-item:hover{
    opacity:0.85;
    color:#ccc;
}
.pagination-item--active .pagination-item__link{
    background-color:var(--primary-color);
}


.pagination-item__link{
    display:block;
    text-decoration: none;  
    color:#939393;
    min-width:40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    font-size:20px;
    font-weight: 300;
}
.pagination-item__icon{

}
