h1 {
  text-align: center;
  background-color: #fff;
  font-size: 28px !important;
}

h1:hover {
  background-color: #ee4d2d;
  color: #fff;
  border-radius: 4px;
}

.number-product {
  display: inline-block;
}

.number-product:hover {
  background-color: #fff;
  color: #000;
}

.bought {
  background-color: #1b74e4;
  color: #fff;
  border-radius: 5px;
}
